body {
  background: linear-gradient(to right, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    margin: 0;
    font-size: 28px;
    font-family: Quicksand;
    background-color: #DEEEEA;
  
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }


  /*animation keyframes*/
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

  
  .animation{
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
     -ms-animation: fadeIn 4s;
  }
  
 

  #navbar {
    overflow: hidden;
    background-color:white;
  }
  
  #navbar a {
    float: right;
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #9fc9c7;
    color: white;
  }

