.logo {
    display: flex; 
    align-items: center; 
    /*margin-right: auto; */
    margin-left: -20px;
    padding-top: -10px;
  }
  
.image {
    width: 120px; 
    height: auto; 

}



header {
  background: transparent;
  display: flex; /* Enable flexbox layout */
  justify-content: space-between; /* Space between left and right content */
  align-items: center; /* Center items vertically */
  position: absolute; /* Position on top of the content */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the container */
  padding: 0 20px; /* Horizontal padding */
  font-size: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
  z-index: 10; /* Ensure header is on top of other elements */
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 10px;  
}

nav a {
    text-decoration: none;
    color: white;
}

nav a.active {
    color: white;
    width: 250px;  
    height: 90px;  
    background-color: #49243E;
    padding: .25em 0;
    box-shadow: .2em 0 0 #49243E, -.2em 0 0 #49243E;
    border-radius: 0.5em;
}



@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}
