
.logo {
    display: flex; 
    align-items: center; 
    margin-right: auto; 
    margin-left: -30px;
    margin-top: -40px;
  }
  
.image {
    width: 120px; 
    height: auto; 
}


header {
    padding: 30px;
    display: flex;
    justify-content: flex-end;  
    font-size: 20px;
    animation: fadeIn 6s;
    -webkit-animation: fadeIn 6s;
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 10px;  
}

nav a {
    text-decoration: none;
    color: white;
}

nav a.active {
    color: white;
    width: 250px;  
    height: 90px;  
    background-color: #49243E;
    padding: .25em 0;
    box-shadow: .2em 0 0 #49243E, -.2em 0 0 #49243E;
    border-radius: 0.5em;
}



@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}
